.highscore{
    text-align: left;
}

.time-left{
    text-align: right;
    margin-top: 0px;
}

.header{
    margin-top: 0px;
}

.homepage{
    text-align: center;
}

.title{
    margin: auto;
    height: 400px;
    width: 700px;
}

p{
    font-size: 25px;
}