#container{
    text-align: center;
}

#instruction{
    text-align: center;
    font-size: 25px;
    margin: auto;
    height: 150px;
    width: 700px;
}

#start{
    height: 50px;
    margin: 0 auto;


}


